table, th, td {
  border: 1px solid black;
   }
.table-responsive {
display: block;
width: 80%;
overflow-x: auto;
-webkit-overflow-scrolling: touch;
align-content: center;
  }
th {
    cursor: pointer;
   }
