<br>
<div class="button" align="right">
    <input type="button"  routerLink ="custlogin" value = "Customer Login" > &nbsp;
    <input type="button"  routerLink ="vendorlogin" value = "Vendor Login"> &nbsp;
    </div>
<div>
  <table class="table-bordered table-hover table-responsive" align="center" width="700" id="menu">
    <thead>
      <tr bgcolor="#a1f4a9">

        <th width="10%" >Food Id</th>
        <th width="10%">Vendor Id</th>

        <th >Food Image</th>

        <th width="17%">Food Name</th>

        <th width="20%">Price</th>

        <th width="25%">Food Category</th>

        <th >Description</th>

      </tr>

    </thead>

    <tbody>

      <tr *ngFor='let menu of menus'>

        <td>{{menu.foodId}}</td>
        <td>{{menu.vid}}</td>
        <td> <img src='assets\{{menu.foodId}}.jpg' alt="FoodImages" width="120" height="100"></td>
        <td>{{menu.foodName}}</td>
        <td> ₹. {{menu.price}}</td>
        <td>{{menu.foodCategory}}</td>
        <td width="100%">{{menu.foodDescription}}</td>
      </tr>
      <tr *ngIf="!menus || menus.length==0">

        <td colspan="6">

          No menu list to display

        </td>

      </tr>

    </tbody>
  </table>
</div>
<br>
