  <table class="table class bordered table-hover" id="menu">
  <thead>
  <tr>
  <th>Food ID</th>
  <th>Vendor</th>
  <th >Food Image</th>
  <th>Food Name</th>
  <th>Food Description</th>
  <th>Food Price</th>
  <th>Food Category</th>
  <th>Quantity</th>
  <th>Total Price</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor='let menu of menus; trackBy: trackByFn(index,menu)'>
      <input type="checkbox" name='menu.foodId'
             [value]='menu.foodId'
             (click)=toggleSelect(menu,$event.target.checked)/>
                {{menu.foodId}}
                <td>{{menu.vid}}</td>
                <td> <img src='assets\{{menu.foodId}}.jpg' alt="FoodImages" width="100" height="60"></td>
  <td>{{menu.foodName}}</td>

  <td>{{menu.foodCategory}}</td>
  <td>{{menu.price}}</td>
  <td>{{menu.foodDescription}}</td>
  <input type="number" class="form-control"  [disabled]='!menu.isSelected'

  [(ngModel)]="menu.qty" name="qty"
  #qty="ngModel" min="1" required>
  <span *ngIf = "qty.invalid && qty.touched"
  style = "color: red">qty is required...</span>

  <td>{{calc(menu)}}</td>
  </tr>
  <tr *ngIf="!menus || menus.length==0">
  <td colspan="6">
  No menus to display
  </td>
  </tr>
  </tbody>
</table>
<hr>

<button class="button" (click) = "myFunction()"><span>Place Order</span></button>
<br>
<div *ngIf = 'postS'>
  {{poststr.st}}
</div>
